.container-separator {
    width: 100vw;
    margin: 0;
    padding: 0;
    margin: 1rem 0 0;
}

.container-icon-separator {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin: -1.5rem 44rem;
    background-color: var(--mainColor);

    @media screen and (max-width: 768px) {
        margin: 7rem -26rem;
    }

    @media screen and (max-width: 500px) {
        margin: 3.8rem -15rem;
        width: 3.5rem;
        height: 3.5rem;
    }
}

.icon-separator {
    margin: 0.5rem;
}