.styleImg {
    width: 100vw;
    opacity: 0.7;
    padding-bottom: 3rem;

    @media screen and (max-width: 500px) {
        margin-top: 5.5rem;
    }
}

.styleTitle {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgba(28, 39, 35, 0.54);
    font-size: 200px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        top: 20%;
        font-size: 100px;
    }

    @media screen and (max-width: 500px) {
        top: 8rem;
        left: 13rem;
        font-size: 50px;
        font-weight: 600;
    }
}

.icon-header {
    position: absolute;
    margin: -9rem 85rem;

    @media screen and (max-width: 768px){
        margin: -7rem 43rem;
    }

    @media screen and (max-width: 500px) {
        margin: -7rem 22rem;
    }
    
}