.container-gallery-services {
    padding: 0 13rem;
    margin-bottom: 5rem;
    width: 70rem;

    @media screen and (max-width: 768px) {
        padding: 0 1rem;
        width: 45rem;
    }

    @media screen and (max-width: 500px) {
        width: 24rem;
    }
}

.react-photo-album--photo:hover {
    filter: opacity(0.5);
    transition:all .4s ease-in-out;
}